
html {
    scroll-behavior: smooth;
  }
.btn-success {
    color: #fff;
    background-color:#220901 !important;
    border-color: #220901;
}



p{
    font-size: 2vw !important;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 7%;
    color:  #001d3d;

}

td[colspan="2"] {
    text-align: center;
    color:  #001d3d;
}

tr{
    text-align: center;
    color:  #001d3d;
   
}
.row3{
    font-size: 1em !important;
}
